<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.florent37.application.provider">
    <application>
        <provider
            android:name=".AppContextProvider"
            android:authorities="${applicationId}.florent37.applicationprovider"
            android:directBootAware="true"
            android:exported="false"
            android:initOrder="900"
            tools:ignore="UnusedAttribute"/>
        <provider
            android:name=".LastActivityProvider"
            android:authorities="${applicationId}.florent37.lastactivityprovider"
            android:directBootAware="true"
            android:exported="false"
            android:initOrder="900"
            tools:ignore="UnusedAttribute"/>
    </application>
</manifest>
